﻿@{
    ViewBag.Title = "Strona główna";
}

<div id="index-banner" class="MainHeader">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center light">Tourist Challenge</h1>
            <div class="row center">
                <h5 class="header col s12 light">Nowoczesna gra terenowa dla każdego</h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Załóż konto</a>
            </div>
            <br><br>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-green-text"><i class="material-icons" style="font-size: 60px">flash_on</i></h2>
                    <h5 class="center">Rywalizacja</h5>
                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-green-text"><i class="material-icons" style="font-size: 60px">group</i></h2>
                    <h5 class="center">Nowe znajomości</h5>
                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-green-text"><i class="material-icons" style="font-size: 60px">settings</i></h2>
                    <h5 class="center">Współpraca</h5>
                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="section">
    </div>
    
</div>