﻿.MainHeader {
    color: #fff;
    background-attachment: scroll;
    background-image: url('Images/mountains_over_malcesine.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }
