﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <nav class="green darken-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Strona główna</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Zaloguj</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <main id="main">
        @RenderBody()
    </main>
    <footer class="page-footer light-blue lighten-1" style="padding-top: 0px">
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; Projekt pracy magisterskiej, Damian Urbaszewski @DateTime.Now.Year <a class="orange-text text-lighten-3" style="float: right" href="http://wimii.pcz.czest.pl/">Politechnika Częstochowska - WIMiI</a></p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/materialize.js"></script>
</body>
</html>
